:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #C6CCBD;
  background-color: #4A4064;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #D69B43;
  text-decoration: inherit;
}
a:hover {
  color: #C3829D;
}

body {
  margin: 0;
}

#app {
  text-align: center;
}
